@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient( to right, rgb(255 209 112 / 83%), rgb(142 89 120 / 80%)) !important;
}

@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap");
.logo {
    font-size: 25px;
    font-family: "Edu VIC WA NT Beginner", cursive;
}

.home-description-title {
    font-weight: 600;
    color: rgb(209 213 219);
}

.about-me {
    color: rgb(209 213 219);
    font-size: 20px !important;
    text-align: justify;
}


/* .h-screen {
    height: 100vh;
} */

@media screen and (max-width: 600px) {
    [name="home"] {
        padding-top: 5rem !important;
    }
    .home-description-title {
        font-size: 1.6rem;
    }
    .about-me {
        font-size: 15px !important;
    }
}